@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SatoshiRegular", "Arial", "Helvetica", "sans-serif";
}

@font-face {
  font-family: "SatoshiBlack";
  src: url("/fonts/Satoshi-Black.otf");
}
@font-face {
  font-family: "SatoshiBold";
  src: url("/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: "SatoshiLight";
  src: url("/fonts/Satoshi-Light.otf");
}
@font-face {
  font-family: "SatoshiMedium";
  src: url("/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "SatoshiRegular";
  src: url("/fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: "IntegralCf";
  src: url("/fonts/Integral-CF.otf");
}

.backdrop-blur-1 {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.gradient-left {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.gradient-right {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider-track.slider-track-1 {
  height: 6px;
  background-color: black;
  margin-left: 12.5px; /* Adjust to extend green color under the thumb */
  margin-right: 12.5px;
  margin-top: 8.5px;
}
.slider-track.slider-track-0 {
  height: 6px;
  background-color: #f0f0f0;
  margin-top: 8.5px;
  border-radius: 999px;
}
.slider-track.slider-track-2 {
  height: 6px;
  background-color: #f0f0f0;
  margin-left: 12.5px;
  margin-top: 8.5px;
  border-radius: 999px;
}

.slider-thumb {
  height: 20px;
  width: 20px;
  background-color: #000;
  color: black;
  border-radius: 50%;
  cursor: grab;
  text-align: center;
}

.horizontal-slider {
  width: 100%;
  max-width: 400px;
  height: 50px;
}

.checkmark {
  filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.rotate-0 {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
