@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SatoshiRegular", "Arial", "Helvetica", "sans-serif";
}

@font-face {
  font-family: "SatoshiBlack";
  src: url("/fonts/Satoshi-Black.otf");
}
@font-face {
  font-family: "SatoshiBold";
  src: url("/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: "SatoshiLight";
  src: url("/fonts/Satoshi-Light.otf");
}
@font-face {
  font-family: "SatoshiMedium";
  src: url("/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "SatoshiRegular";
  src: url("/fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: "IntegralCf";
  src: url("/fonts/Integral-CF.otf");
}

.backdrop-blur-1 {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.gradient-left {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.gradient-right {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
